div .col-4 {
    padding: 0;
}

.bady {
    background: linear-gradient(to top left, #a5a5a5, #2b2b2b);           
    /* transform-style: preserve-3d; */
    height: auto;
}

/* .mobilePage {
    display: none;
  } */

/* @media only screen and (max-width: 1000px) {
    .container {
        m
    }

  } */