/* .aboutMe {
    margin: 100px 0;
} */

.photoColor {
    position: absolute;
    right: 100px;
    top: 250px;
    width: 300px;
    height: 300px;
    /* border-radius: 10% 30% 50% 70%; */
    border-radius: 70% 50% 30% 10%;
    background-color: rgb(80, 80, 80);
}

img {
    position: absolute;
    right: 20px;
    bottom: 0px;
    height: 400px;
}

.title{
    font-family: 'Sedgwick Ave', cursive;
    font-size: 50px;
    position: absolute;
    top: 200px;
    left: 100px;
}

.title p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}
